**Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.**

Input Format: The first line of the input contains an email address. 

Output Format: Print the company name in single line.

Example; Input: john@google.com Output: google

In [8]:
email_addr = input('Enter your Email address: ')
print('Your Company name is:')
s1 = email_addr.split('@')
print(s1[1].split('.')[0])

Enter your Email address: bharath@facebook.com
Your Company name is:
facebook

**Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.**

Input Format: The first line of input contains words separated by the comma.

Output Format: Print the sorted words separated by the comma. 

Example: Input: without,hello,bag,world

Output: bag,hello,without,world

In [63]:
words = input('Enter comma seperated words: ').split(',')
print('----After Sorting----')
print(','.join(sorted(words)))

Enter comma seperated words: without,hello,bag,world
----After Sorting----
bag,hello,without,world

**Question 3:
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp**

### Python Sets

__Set:__<br>
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

#### Create a Set:

In [17]:
set1 = {"apple", "banana", "cherry","mango"}
print(set1)

{'apple', 'banana', 'mango', 'cherry'}

#### Access Items

In [18]:
for x in set1:
    print(x)

apple
banana
mango
cherry

#### Add Items

In [19]:
set1 = {"apple", "banana", "cherry"}
set1.add("orange")
print(set1)

{'apple', 'banana', 'orange', 'cherry'}

In [22]:
set1.update(["orange", "mango", "grapes"])
set1

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [23]:
print(len(set1))

6

#### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [24]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [25]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [29]:
#### COPY A SET

fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

#### isdisjoint

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

#### issubset()

In [32]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)
print(z)

True

#### issuperset()

In [33]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)
print(z)

True

#### symmetric_difference()

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'google', 'microsoft'}

#### symmetric_difference_update()

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y) 
print(x)

{'cherry', 'google', 'microsoft', 'banana'}

**Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.**

Input Format: The first line contains n-1 numbers with each number separated by a space.

Output Format: Print the missing number 

Example: Input:1 2 4 6 3 7 8 Output:5

In [46]:
n = int(input('Enter a number: '))
list1 = list(map(int,input().split()))
sum1 = sum(list1)
total = (n+1)*(n+2)/2
print('The missing number is:',int(total-sum1))

Enter a number: 7
1 2 4 6 3 7 8
The missing number is: 5

**Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.**

Example: If the input list is 12 24 35 24 88 120 155 88 120 155 

Then the output should be 12 24 35 88 120 155

In [60]:
l = list(map(int,input().split()))
l1 = []
for i in range(len(l)):
    if l[i] not in l1:
        l1.append(l[i])
print(' '.join(map(str,l1)))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155